<div class="container" style="background-color: transparent;">
  <div class="roww" *ngFor="let model of allModelsData">
    <div class="card">
      <div class="row">
        <div class="col-lg-3 col-md-4 forImg" style="background-color: transparent;">
          <img [src]="model.img" alt="">
        </div>
        <div class="col-lg-6 col-md-4 productDetails" style="background-color: transparent;">
          <!-- category -->
          <h2 style="font-size: 22px;">نوع التصميم : <span style="font-weight: bold; color:#c3453c;">{{model.modelType}}</span></h2>
          <!-- <ng-rating-bar
          [(value)]="model.rate"
          [ratingCount]="5"
          [disabled]="true"
          ></ng-rating-bar> -->
        </div>
        <div class="col-lg-3 col-md-4 productState" style="background-color: transparent;">
          <!-- price -->
          <h2>سعر التصميم : <span class="price"><span style="font-weight: bold;font-size: 25px;">{{model.price}}</span> جنيه</span></h2>

          <br>
          <div class="pendingDiv" *ngIf="model.state == 'pending'">
            <span class="state">معلق</span>
            <button class="btn btn-danger mt-3 p-2" (click)="DeleteModel(model.clientInfo.clientId,model.modelId)">إلغاء الحجز</button>
          </div>
          <span class="state" *ngIf="model.state == 'confirmed'">تم التأكيد</span>
          <span class="state" *ngIf="model.state == 'implemented'">تم التنفيذ</span>
        </div>
      </div>
    </div>
  </div>
</div>
