<div class="container" style="background-color: transparent;">
  <div class="roww">
    <div class="card">
      <div class="row">
        <div class="col-lg-3 col-md-4 forImg" style="background-color: transparent;">
          <img src="../../assets/model.jpeg" alt="">
        </div>
        <div class="col-lg-6 col-md-4 productDetails" style="background-color: transparent;">
          <!-- category -->
          <h2 style="font-size: 22px;">نوع التصميم : <span style="font-weight: bold; color:#c3453c;">بلوزة</span></h2>

        </div>
        <div class="col-lg-3 col-md-4 productState" style="background-color: transparent;">
          <!-- price -->
          <h2>سعر التصميم : <span class="price"><span style="font-weight: bold;font-size: 25px;">200</span> جنيه</span></h2>

          <br>
          <span class="state">تحت التنفيذ</span>
        </div>
      </div>
    </div>
  </div>

  <div class="roww">
    <div class="card">
      <div class="row">
        <div class="col-lg-3 col-md-4 forImg" style="background-color: transparent;">
          <img src="../../assets/model.jpeg" alt="">
        </div>
        <div class="col-lg-6 col-md-4 productDetails" style="background-color: transparent;">
          <!-- category -->
          <h2 style="font-size: 22px;">نوع التصميم : <span style="font-weight: bold; color:#c3453c;">بلوزة</span></h2>

        </div>
        <div class="col-lg-3 col-md-4 productState" style="background-color: transparent;">
          <!-- price -->
          <h2>سعر التصميم : <span class="price"><span style="font-weight: bold;font-size: 25px;">200</span> جنيه</span></h2>

          <br>
          <span class="state">تم التنفيذ</span>
        </div>
      </div>
    </div>
  </div>

  <div class="roww">
    <div class="card">
      <div class="row">
        <div class="col-lg-3 col-md-4 forImg" style="background-color: transparent;">
          <img src="../../assets/model.jpeg" alt="">
        </div>
        <div class="col-lg-6 col-md-4 productDetails" style="background-color: transparent;">
          <!-- category -->
          <h2 style="font-size: 22px;">نوع التصميم : <span style="font-weight: bold; color:#c3453c;">بلوزة</span></h2>
        </div>
        <div class="col-lg-3 col-md-4 productState" style="background-color: transparent;">
          <!-- price -->
          <h2>سعر التصميم : <span class="price"><span style="font-weight: bold;font-size: 25px;">200</span> جنيه</span></h2>

          <br>
          <span class="state">معلق</span>
          <button class="btn btn-danger mt-3 p-2">إالغاء الحجز</button>
        </div>
      </div>
    </div>
  </div>

</div>
