<section style="height: calc(100vh - 80px);" class="d-flex justify-content-center align-items-center">
  <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
          <div class="col-lg-12 col-xl-10">
              <div class="card text-black" style="border-radius: 25px; box-shadow:0 4px 8px 0 rgb(0 0 0 / 20%);">
                  <div class="card-body p-3 pb-4">
                      <div class="row justify-content-center">
                          <div class="col-md-10 col-lg-6 col-xl-6 order-2 order-lg-1">
                              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">تسجيل الدخول</p>

                              <form class="mx-1 mx-md-4" [formGroup]="sgininForm" (ngSubmit)="onSubmit()">

                                  <div class="d-flex flex-row align-items-center mb-4">
                                      <div class="form-outline flex-fill mb-0">
                                          <input type="text" id="form3Example1c" class="form-control"
                                              [class.is-invalid]="email?.invalid &&email?.touched"
                                              placeholder="البريد الإلكتروني" formControlName="email" />
                                              <div *ngIf="user['email'].invalid &&  user['email'].touched">

                                                  <small class="text-danger" *ngIf="user['email'].errors?.['required']">الاميل مطلوب </small>
                                                  <small class="text-danger" *ngIf="user['email'].errors?.['pattern']"> الاميل يجب ان يكون بهذا الشكل  Example@go.com </small>
                                          <!-- <label class="form-label" for="form3Example1c"> الإسم</label> -->
                                          <!-- <i class="fas fa-user fa-lg me-3 fa-fw"></i> -->
                                      </div>

                                      </div>
                                  </div>
                                  <div class="d-flex flex-row align-items-center mb-4">
                                      <div class="form-outline flex-fill mb-0">
                                          <input type="password" id="form3Example4c" class="form-control"
                                              [class.is-invalid]="password?.invalid &&password?.touched"
                                              placeholder="كلمة السر" formControlName="password" />
                                          <div *ngIf="password?.invalid &&password?.touched">
                                              <small class="text-danger" *ngIf="password?.errors?.['required']">كلمة
                                                  السر مطلوب</small>
                                              <small class="text-danger" *ngIf="password?.errors?.['minlength']">كلمة
                                                  السر يجب أن تكون 8 أرقام</small>
                                          </div>
                                          <!-- <label class="form-label" for="form3Example4c">كلمة السر</label> -->
                                          <!-- <i class="fas fa-lock fa-lg me-3 fa-fw"></i> -->
                                      </div>
                                  </div>

                                  <mat-slide-toggle formControlName="isadmin" id="slider"><b></b>مشرف</mat-slide-toggle>

                                  <div class="d-flex justify-content-center pt-3">
                                      <button id="btn1" type="submit" [disabled]="!sgininForm.valid" style="margin-left:10px ;"
                                          class="btn  w-50">تسجيل</button>
                                      <button id="btn2" type="button" class="btn danger btn-lg btn-lg w-50"
                                          (click)="btnClick();">إنشاء حساب
                                          جديد</button>

                                  </div>

                              </form>

                          </div>
                          <div class="col-md-10 col-lg-6 col-xl-6 d-flex align-items-center order-1 order-lg-2">

                              <img src="assets/registration.jpg" class="img-fluid"
                                  alt="Sample image">

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
