<header class="">
      <table class="table table-light table-responsive-md text-center mt-5">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">الصورة</th>
              <th scope="col">النوع</th>
              <th scope="col">السعر</th>
              <th scope="col">رقم الموبيل</th>
              <th scope="col">تأكيد الحجز</th>
            </tr>
          </thead>
          <tbody>
            <!-- will loop on this depending on the array of models get from firebase -->
            <tr *ngFor="let model of penddingModels ;let i = index" class="w-100">
              <td scope="row">{{i+1}}</td>
              <td><img [src]="model?.img" width="80" height="80" alt="not_found" ></td>
              <td>{{model?.modelType}}</td>
              <td>{{model?.price||"غير محدد"}}</td>
              <td>
                {{model?.clientInfo.phone}}
                </td>
                <td>
                  <button class="btn" (click)="confirmPenddingModel(model)">تأكيد</button>
                    </td>

            </tr>
            <!-- end row -->

          </tbody>
        </table>

    </header>

<!-- make table and loop on row depending on the array of models get from firebase and get best selling-->


<!--make table and loop on row depending on the array of pending models get from firebase -->
<div *ngIf="showConfirm" class="overlay ">
  <div class="overlay-form w-50">
  <div class="card">
      <div class="overlay"></div>
      <form  [formGroup]="pendingModelForm" >
        <div class="logo">
          <!-- <img src="../../assets/logo.png" alt=""> -->
          <h3>مستر تايلور</h3>
        </div>
     
     
        <div class="form-group">
          <!-- modelPicture -->
          <div class="modelPrice">

            <input required type="number" placeholder="السعر" name="modelPrice" formControlName="modelPrice" #ModelPrice>
          </div>
          <div *ngIf="modelPrice?.invalid &&modelPrice?.touched">
            <small class="text-danger" *ngIf="modelPrice?.errors?.['required']">السعر مطلوب</small>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <button type="submit" class="formBtn btn btn-success" [disabled]="pendingModelForm.invalid" (click)="setPriceAndConfirmPenddingModel(ModelPrice.value)">  تأكيد</button>
        <button (click)="closeOverlay()" type="button" class="formBtn btn btn-danger">الغاء </button>
        </div>
      </form>
    </div>
  </div>
  </div>
