<!-- <p>user-search works!</p> -->

<!-- sidebar for filteration -->
<div class="row">
  <div class="col-lg-3 filterationCol" style="background-color: transparent;">
      <!-- model -->
    <div class="model">
      <h1>التصميم</h1>
      <div class="innerDiv">
        <div class="form-check">
          <input (change)="modelTypeChange(bloza.value)" #bloza class="form-check-input" type="radio" name="modelType" id="bloza" value="بلوزة">
          <label class="form-check-label" for="bloza">
            بلوزة
          </label>
        </div>
        <div class="form-check">
          <input (change)="modelTypeChange(jaib.value)" #jaib class="form-check-input" type="radio" name="modelType" id="jaib" value="جيبة">
          <label class="form-check-label" for="jaib">
            جيبة
          </label>
        </div>
        <div class="form-check">
          <input (change)="modelTypeChange(bntlon.value)" #bntlon class="form-check-input" type="radio" name="modelType" id="bntlon" value="بنطلون">
          <label class="form-check-label" for="bntlon">
            بنطلون
          </label>
        </div>
        <div class="form-check">
          <input (change)="modelTypeChange(dress.value)" #dress class="form-check-input" type="radio" name="modelType" id="dress" value="فستان">
          <label class="form-check-label" for="dress">
            فستان
          </label>
        </div>
        <div class="form-check">
          <input (change)="modelTypeChange(jacket.value)" #jacket class="form-check-input" type="radio" name="modelType" id="jacket" value="جاكت">
          <label class="form-check-label" for="jacket">
            جاكيت
          </label>
        </div>
      </div>
    </div>
    <!-- <hr> -->
    <!-- age -->
    <div class="age">
      <h1>السن</h1>
      <div class="innerDiv">
        <div class="form-check">
          <input (change)="modelAgeChange(old.value)" #old class="form-check-input" type="radio" name="age" id="age1" value="كبار السن">
          <label class="form-check-label" for="age1">
            كبار السن
          </label>
        </div>
        <div class="form-check">
          <input (change)="modelAgeChange(adults.value)" #adults class="form-check-input" type="radio" name="age" id="age2" value="متوسط السن">
          <label class="form-check-label" for="age2">
            متوسط السن
          </label>
        </div>
        <div class="form-check">
          <input (change)="modelAgeChange(child.value)" #child class="form-check-input" type="radio" name="age" id="age3" value="صغار السن">
          <label class="form-check-label" for="age3">
            صغار السن
          </label>
        </div>
      </div>
    </div>

    <!-- slider price -->

    <div class="price">
      <h1>السعر</h1>

      <div class="innerDiv">
        <div dir="rtl">
          <div class="example-label-container" [class]="vertical ? 'example-label-vertical' : 'example-label-horizontal'">
            <!-- <label id="example-name-label" class="example-name-label">Max Value</label> -->
            <label class="example-value-label"> {{modelPrice}}  جنيه  </label>
          </div>
          <mat-slider
              class="example-margin"
              [disabled]="disabled"
              [invert]="invert"
              [max]="max"
              [min]="min"
              [step]="step"
              [thumbLabel]="thumbLabel"
              [tickInterval]="getSliderTickInterval()"
              [(ngModel)]="modelPrice"
              [vertical]="vertical"
              aria-labelledby="example-name-label">
          </mat-slider>
        </div>
      </div>
    </div>
    <!-- end slider -->

    <!-- stars -->
    <div class="starsDiv">
      <h1>التقييم</h1>
      <div class="innerDiv py-2">
        <div class="form-check">
            <ng-rating-bar
            [(value)]="modelRate"
            [ratingCount]="5"
            ></ng-rating-bar>
        </div>
      </div>
    </div>
    <!-- end stars -->
  </div>
  <div class="col-lg-9 modelCardCol p-4" style="background-color: transparent; margin-top: 60px;">
    <div class="row">
      <div class="col-md-6 col-lg-4 px-2" *ngFor="let model of allModels | userSearch:modelkeyWord:modelType:ageCategory:modelPrice:modelRate">
          <app-model-card [modelInfo]="model"></app-model-card>
      </div>
    </div>


  </div>
</div>
