.chat-header{
  font-size: 25px;
  font-weight: 700;
  svg{
    font-size: 18px;
    color: rgb(150, 150, 150);
  }
  span{
    font-size: 13px;
    color: rgb(150, 150, 150);
  }
  .user-img{
    width: 40px;
  }
  .online-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .three-dots::after {
    cursor: pointer;
    color: rgb(131, 131, 131);
    content: '\2807';
    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: #111;
  }

  a div {
    padding: 10px;
    font-size: 15px;
  }

  .dropdown {
    position: absolute;
    left: 25px;
    margin-top: 10px;
    background-color: #fff;
    outline: none;
    opacity: 0;
    z-index: -1;
    max-height: 0;
    box-shadow:0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: opacity 0.1s, z-index 0.1s, max-height 5s;
  }

  .dropdown-container:focus {
    outline: none;
  }

  .dropdown-container:focus .dropdown {
    opacity: 1;
    z-index: 100;
    max-height: 100vh;
    transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
  }
}
.chat-body{
  .conversations{
    height: calc(100vh - 180px);
    form{
      width: 90%;
      border: 1px solid #ddd;
      margin: 20px 0;
      border-radius: 20px;
      overflow: hidden;
      input{
        width: 85%;
        border: none;
        padding: 5px 15px;
        outline: none;
        font-size: 15px;
      }
      button{
        border: none;
        background-color: transparent;
      }
    }
    .chats{
      height: calc(100% - 75px);
      overflow-y: scroll;
      align-content: flex-start;
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
      .chat-tab{
        cursor: pointer;
        &:hover{
          transition: .3s;
          background-color: #e9d4d4;
        }
      }
      .user-img{
        width: 40px;
      }
      .user-name{
        font-size: 20px;
        color: #111;
      }
      .user-message{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .message-time{
        font-size: 11px;
      }
      .new-messages, .active-chat{
        background-color: #e9d4d4;
        position: relative;
      }
      .active-chat{
        &::before{
          content: '';
          position: absolute;
          height: 100%;
          width: 4px;
          background-color: #c3453c;
          right: 0;
          top: 0;
        }
      }
      .new-messages{
        .user-message{
          font-weight: 700;
        }
      }
    }
  }
  .chat{
    height: calc(100vh - 180px);
    position: relative;
    .messages{
      height: calc(100vh - 180px);
      overflow-y: scroll;
      padding-bottom: 100px;
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
    }
    .user-message-chat{
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .message{
        max-width: 60%;
        margin-right: 20px;
        background-color: #f3ecec;
        color: #111;
        padding: 10px;
        border-radius: 5px;
        position: relative;
        &::before{
          content: '';
          width: 25px;
          height: 20px;
          background-color: #f3ecec;
          position: absolute;
          top: 0;
          left: 0;
          transform: translateX(-85%);
          clip-path: polygon(100% 100%, 100% 0, 0 0);
        }
      }
      .message-time{
        color: rgb(148, 148, 148);
      }
    }
    .admin-message-chat{
      margin-top: 30px;
      display: flex;
      align-items: center;
      .message{
        max-width: 60%;
        margin-left: 20px;
        background-color: #c3453c;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        position: relative;
        &::before{
          content: '';
          width: 25px;
          height: 20px;
          background-color: #c3453c;
          position: absolute;
          top: 0;
          right: 0;
          transform: translateX(85%);
          clip-path: polygon(100% 0, 0 0, 0 100%);
        }
      }
      .message-time{
        color: rgb(148, 148, 148);
      }
    }
    .write-message-form{
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 0 20px;
      background-color: #f3ecec;
      form{
        width: 100%;
        margin: 10px 0;
        border-radius: 20px;
        input{
          width: 90%;
          height: 40px;
          border: 1px solid #ddd;
          border-radius: 5px;
          padding: 5px 15px;
          outline: none;
          font-size: 15px;
        }
        button{
          width: 10%;
          border: none;
          svg{
            transform: rotateY(180deg);
            font-size: 25px;
            color: #c3453c;

          }
        }
      }
    }
  }
}
.unselected-chat{
  padding: 150px 50px;
  font-size: 50px;
  font-weight: 600;
  color: rgb(173, 173, 173);
  text-transform: rotateZ(-25deg);
  background: url('../../assets/chat.jpg') center center no-repeat;
  background-size: cover;
  font-family: 'El Messiri', sans-serif;
}
