<nav class="d-flex justify-content-between align-items-center">
  <form action="" class="search-client">
    <button><i class="fa-solid fa-magnifying-glass"></i></button>
    <input type="text" placeholder="ابحث عن عميل..." #searchUsers (keydown.enter)="toNavegate(searchUsers.value)">
  </form>
  <div routerLink="/dashboard/notifications" class="dashboard-notifications" (click)="updatNotification()">
    <i class="fas fa-bell"></i>
    <span *ngIf="newNotification" class="count">{{newNotification}}</span>
  </div>
</nav>
