<div class="d-flex justify-content-center align-items-center" *ngIf="error">
    <h1>{{error}}</h1>
</div>
<div class="container contain">
    <div class="row" *ngFor="let client of usersIds ;let i = index">
      <div class="col-lg-6">
        <h2>الاسم</h2>
        <p>{{client?.name}}</p>

      </div>
      <div class="col-lg-6">
        <h2>الايميل</h2>

        <p>{{client?.email}}</p>
      </div>

      <div class="col-lg-6">
        <h2>الرقم</h2>

        <p>{{client?.phone}}</p>
      </div>

      <div class="col-lg-6">
        <h2>تاريخ الانضمام</h2>

        <p>{{client?.dateJoined}}</p>
      </div>
    </div>




  </div>


  <div class="container" style="background-color: transparent;">
    <h1 *ngIf="!error" class=" text-center py-5 fw-bold">التصميمات</h1>
    <div class="roww" *ngFor="let model of allModelsData">
      <div class="card" *ngIf="model.state != 'implemented'">
        <div class="row">
          <div class="col-lg-3 col-md-4 forImg" style="background-color: transparent;">
            <img [src]="model.img" alt="">
          </div>
          <div class="col-lg-6 col-md-4 productDetails" style="background-color: transparent;">
            <!-- category -->
            <h2 style="font-size: 22px;">نوع التصميم : <span style="font-weight: bold; color:#c3453c;">{{model.modelType}}</span></h2>
          </div>
          <div class="col-lg-3 col-md-4 productState" style="background-color: transparent;">
            <!-- price -->
            <h2>سعر التصميم : <span class="price">{{model.price?model.price + ' جنيه':'غير محدد'}}</span></h2>

            <br>
            <div class="pendingDiv" *ngIf="model.state == 'pending'">
              <button class="btn btn-danger mt-3 p-2" (click)="confirmPenddingModel(model)">تأكيد</button>
            </div>
            <div class="pendingDiv" *ngIf="model.state == 'confirmed'">
              <button class="btn btn-danger mt-3 p-2" (click)="modelImplemented(model)">تم التنفيذ</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div *ngIf="showConfirm" class="overlay ">
    <div class="overlay-form w-50">
    <div class="card">
        <div class="overlay"></div>
        <form  [formGroup]="pendingModelForm" >
          <div class="logo">
            <!-- <img src="../../assets/logo.png" alt=""> -->
            <h3>مستر تايلور</h3>
          </div>


          <div class="form-group">
            <!-- modelPicture -->
            <div class="modelPrice">

              <input required type="number" placeholder="السعر" name="modelPrice" formControlName="modelPrice" #ModelPrice>
            </div>
            <div *ngIf="modelPrice?.invalid &&modelPrice?.touched">
              <small class="text-danger" *ngIf="modelPrice?.errors?.['required']">السعر مطلوب</small>
            </div>
          </div>
          <!--  -->
          <div class="form-group">
            <!--  -->
            <div class="modelPrice">

              <input required type="number" placeholder="M" name="medium" formControlName="medium">
            </div>
            <div *ngIf="medium?.invalid &&medium?.touched">
              <small class="text-danger" *ngIf="medium?.errors?.['required']">هذا المقاس مطلوب</small>
            </div>
          </div>
          <div class="form-group">
            <!-- thin body -->
            <div class="modelPrice">

              <input required type="number" placeholder="L" name="large" formControlName="large">
            </div>
            <div *ngIf="large?.invalid &&large?.touched">
              <small class="text-danger" *ngIf="large?.errors?.['required']">هذا المقاس مطلوب</small>
            </div>
          </div>
          <div class="form-group">
            <!-- middle body -->
            <div class="modelPrice">

              <input required type="number" placeholder="XL" name="xLarge" formControlName="xLarge">
            </div>
            <div *ngIf="xLarge?.invalid &&xLarge?.touched">
              <small class="text-danger" *ngIf="xLarge?.errors?.['required']">هذا المقاس مطلوب</small>
            </div>
          </div>
          <div class="form-group">
            <!-- fat body -->
            <div class="modelPrice">

              <input required type="number" placeholder="XXL" name="xxLarge" formControlName="xxLarge">
            </div>
            <div *ngIf="xxLarge?.invalid &&xxLarge?.touched">
              <small class="text-danger" *ngIf="xxLarge?.errors?.['required']">هذا المقاس مطلوب</small>
            </div>
          </div>
          <!--  -->
          <div class="d-flex justify-content-between align-items-center">
            <button type="submit" class="formBtn btn btn-success" [disabled]="pendingModelForm.invalid" (click)="setPriceAndConfirmPenddingModel(ModelPrice.value)">  تأكيد</button>
          <button (click)="closeOverlay()" type="button" class="formBtn btn btn-danger">الغاء </button>
          </div>
        </form>
      </div>
    </div>
    </div>
