<section class="custom-reservation">
  <div class="container">
    <div class="row">
      <div class="col-md-7 form-right">
        <div class="card">
          <div class="overlay"></div>
          <form action="" [formGroup]="reserveModelForm" (ngSubmit)="reserveModel()">
            <div class="logo">
              <img src="../../assets/logo.png" alt="">
              <h3>مستر تايلور</h3>
            </div>
            <div class="form-group">
              <div class="dropdown">
                <select required name="modelType" id="modelType" formControlName="modelType">
                    <option value="" disabled selected>المودل</option>
                    <option value="بلوزة">بلوزة</option>
                    <option value="بنطلون">بنطلون</option>
                    <option value="فستان">فستان</option>
                    <option value="جاكت">جاكت</option>
                    <option value="سلوبت">سلوبت</option>
                    <option value="قميص">قميص</option>
                    <option value="تيشرت">تيشرت</option>
                </select>
              </div>
              <div *ngIf="modelType?.invalid &&modelType?.touched">
                <small class="text-danger" *ngIf="modelType?.errors?.['required']">الموديل مطلوب</small>
              </div>
            </div>
            <div class="form-group">
              <div class="dropdown">
                <select required name="ageCategory" id="ageCategory" formControlName="ageCategory">
                    <option value="" disabled selected>الفئة العمرية</option>
                    <option value="كبار السن">كبار السن</option>
                    <option value="متوسط السن">متوسط السن</option>
                    <option value="صغار السن">صغار السن</option>
                </select>
              </div>
              <div *ngIf="ageCategory?.invalid &&ageCategory?.touched">
                <small class="text-danger" *ngIf="ageCategory?.errors?.['required']">الفئة العمرية مطلوبة</small>
              </div>
            </div>
            <div class="form-group">
              <!-- modelPicture -->
              <div class="modelPicture">
                <span>ارفع صورة التصميم <i class="fa-solid fa-upload pe-2"></i></span>
                <input required type="file" (change)="selectedImg($event)" accept="*.jpg.png.webp.jpeg" name="modelPicture" formControlName="modelPicture">
              </div>
              <div *ngIf="modelPicture?.invalid &&modelPicture?.touched">
                <small class="text-danger" *ngIf="modelPicture?.errors?.['required']">صورة الموديل مطلوبة</small>
              </div>
            </div>
            <button type="submit" class="reservationBtn btn" [disabled]="reserveModelForm.invalid">قم بالحجز الان</button>
          </form>
        </div>
      </div>
      <div class="col-md-5 d-none d-md-block img-left"></div>
    </div>
  </div>
</section>
