<div class="overlay ">
    <div class="overlay-form w-50  h-50">
    <div class="card">
        <div class="overlay"></div>
        <form action="" [formGroup]="addModelForm" (ngSubmit)="addModel()">
          <div class="logo">
            <img src="../../assets/logo.png" alt="">
            <h3>مستر تايلور</h3>
          </div>
         

          <div class="form-group">
            <!-- modelPicture -->
            <div class="modelPrice">

              <input required type="number" placeholder="السعر" name="modelPrice" formControlName="modelPrice">
            </div>
            <div *ngIf="modelPrice?.invalid &&modelPrice?.touched">
              <small class="text-danger" *ngIf="modelPrice?.errors?.['required']">السعر مطلوب</small>
            </div>
          </div>


          <div class="form-group">
            <!-- modelPicture -->
            <div class="modelPicture">
              <span>ارفع صورة التصميم <i class="fa-solid fa-upload pe-2"></i></span>
              <input required type="file" (change)="selectedImg($event)" accept="*.jpg.png.webp.jpeg" name="modelPicture" formControlName="modelPicture">
            </div>
            <div *ngIf="modelPicture?.invalid &&modelPicture?.touched">
              <small class="text-danger" *ngIf="modelPicture?.errors?.['required']">صورة الموديل مطلوبة</small>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <button type="submit" class="formBtn btn btn-success" [disabled]="addModelForm.invalid">أضف</button>
          <button routerLink="/dashboard/atelier_models" type="button" class="formBtn btn btn-danger">الغاء </button>
          </div>
        </form>
      </div>
    </div>
    </div>

