<!-- <p>feedback-reviews works!</p> -->
<div class="allReviewSection">
  <h1>الآراء</h1>
  <hr>
  <div class="forReviews">
    <div class="review d-flex justify-content-between align-items-center" *ngFor="let review of allReviews">
      <div style="width: 70%;">
        <div class="row userData">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <!-- <p class="name">امنية فيصل</p> -->
            <p class="name"> {{review.UserName}}</p>

          </div>
        </div>
        <div class="txtReview">
          <!-- <p class="para">تصميم كويس جدا وطالع زي ما كنت عايزة واحسن والويب سايت كويسة جدا </p> -->
          <p class="para">{{review.reviewContent}}</p>

        </div>
      </div>
      <!-- <p class="date align-self-end">منذ 30 د</p> -->
      <p class="date align-self-end">{{review.commentDate*1000|date:'hh:mm a'}}</p>

    </div>

    <!-- <div class="review d-flex justify-content-between align-items-center">
      <div style="width: 70%;">
        <div class="row userData">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <p class="name">امنية فيصل</p>
          </div>
        </div>
        <div class="txtReview">
          <p class="para">تصميم كويس جدا وطالع زي ما كنت عايزة واحسن والويب سايت كويسة جدا </p>
        </div>
      </div>
      <p class="date align-self-end">منذ 30 د</p>
    </div>

    <div class="review d-flex justify-content-between align-items-center">
      <div style="width: 70%;">
        <div class="row userData">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <p class="name">امنية فيصل</p>
          </div>
        </div>
        <div class="txtReview">
          <p class="para">تصميم كويس جدا وطالع زي ما كنت عايزة واحسن والويب سايت كويسة جدا </p>
        </div>
      </div>
      <p class="date align-self-end">منذ 30 د</p>
    </div>

    <div class="review d-flex justify-content-between align-items-center">
      <div style="width: 70%;">
        <div class="row userData">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <p class="name">امنية فيصل</p>
          </div>
        </div>
        <div class="txtReview">
          <p class="para">تصميم كويس جدا وطالع زي ما كنت عايزة واحسن والويب سايت كويسة جدا </p>
        </div>
      </div>
      <p class="date align-self-end">منذ 30 د</p>
    </div>

    <div class="review d-flex justify-content-between align-items-center">
      <div style="width: 70%;">
        <div class="row userData">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <p class="name">امنية فيصل</p>
          </div>
        </div>
        <div class="txtReview">
          <p class="para">تصميم كويس جدا وطالع زي ما كنت عايزة واحسن والويب سايت كويسة جدا </p>
        </div>
      </div>
      <p class="date align-self-end">منذ 30 د</p>
    </div>

    <div class="review d-flex justify-content-between align-items-center">
      <div style="width: 70%;">
        <div class="row userData">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <p class="name">امنية فيصل</p>
          </div>
        </div>
        <div class="txtReview">
          <p class="para">تصميم كويس جدا وطالع زي ما كنت عايزة واحسن والويب سايت كويسة جدا </p>
        </div>
      </div>
      <p class="date align-self-end">منذ 30 د</p>
    </div> -->
  </div>

</div>
