<div class="container land ">
  <div class="row align-items-center h-100">


      <div class="col-lg-5 col-md-5 ">
          <div class="land-content ">
              <h2 class=" mt-4">اتيليه مستر تايلور</h2>
              <p class="ps-5">
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                   چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                   ا               </p>

                   <button routerLink="/registration" class="btn  px-5 mt-4 rounded-0">البداية</button>
          </div>
      </div>


      <div class="col-lg-7 col-md-7 ">
          <div class="land-img ">
              <img src="../assets/landing_img.png"  style="width: 110%;" alt="Not_found" >
          </div>
      </div>

   
  </div>
</div>