<div *ngIf="modelID" class="overlay">
    <div class="overlay-form w-50  h-50">

    <div class="card">
        <div class="overlay"></div>

        <form (ngSubmit)="deleteModel()">


            <p class="lead py-3 pt-5 text-center text-white">
                هل تريد بالفعل حذف هذا الموديل
            </p>

          <div class="d-flex justify-content-between align-items-center">
            <button type="submit" class="formBtn btn btn-danger">  حذف</button>
          <button routerLink="/dashboard/atelier_models" type="button" class="formBtn btn btn-success">الغاء </button>
          </div>
        </form>
      </div>
    </div>
    </div>

