
<header class="">

    
<div class="d-flex justify-content-between align-items-center my-4 mx-4">
  <div class="add-model ">
    <button routerLink="/dashboard/atelier_models/add_model" class="btn btn-dark text-white rounded-0" data-toggle="modal" data-target="#exampleModal">اضافة موديل <i class="fa fa-plus px-3"></i></button>
  </div>

  <div class="search-model d-flex justify-content-center align-items-center">
    <!-- <label for="searchModel">البحث عن موديل: </label> -->
    <input class="form-control w-100 shadow-none " placeholder="أبحث" type="text" name="search" id="searchModel">
    <button class="btn ">أبحث</button>
  </div>
</div>


  <table class="table table-light table-responsive-md text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">الصورة</th>
          <th scope="col">النوع</th>
          <th scope="col">السعر</th>
          <th scope="col">تعديل</th>
          <th scope="col">حذف</th>
        </tr>
      </thead>
      <tbody>
        <!-- will loop on this depending on the array of models get from firebase -->
        <tr class="w-100">
          <td scope="row">1</td>
          <td><img src="../assets/model.jpeg" width="80" height="80" alt="not_found" ></td>
          <td>بلوزة</td>
          <td>50</td>
          <td>  <i class="fa-solid fa-pen-to-square text-warning"></i>
                
              </td>
          <td>  
                <i  class="fa fa-trash  text-danger"></i>
              </td>
          
        </tr>
        <!-- end row -->

      </tbody>
    </table>

</header>


<!-- crud operation routing -->
<router-outlet></router-outlet>
