<div class="card pt-2 my-2" style="height: 26rem;" >
    <div class="product-display-img mt-2">
    <img class="product-card-img" src={{modelInfo.img}}>
    </div>
    <div class="row card-body">
        <div class="col-md-12 p-2 m-0">
            <h2 class="card-title">{{modelInfo.modelType}}</h2>
        </div>
        <div class="col-md-12 d-flex justify-content-between px-2 m-0">
            <h4 class="card-title ">{{modelInfo.price}} ج</h4>
            <ng-rating-bar
            [(value)]="rateValue"
            [ratingCount]="5"
            [disabled]="true"
            ></ng-rating-bar>
        </div>
        <hr>
    </div>
    <div class="buttons">
        <a class="btn a1" [routerLink]="['/user_access/model_details/'+modelInfo.modelId]">للحجز والإستعلام</a>
        <a class="btn a2" (click)="addRating()">اضف تقييمك</a>
    </div>
    <div *ngIf="flag" class="rating d-flex flex-column justify-content-center align-items-center" >
        <ng-rating-bar [styles]="{fontSize:'40px'}"
        [(value)]="rateValueChanges"
        [ratingCount]="5"
        ></ng-rating-bar>
        <button class="btn btn-dark" (click)="ratingDone(modelInfo)">قيم</button>
        </div>
</div>
